
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Home/HomeLayoutpage.cshtml";
}

<section class="main py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <h1>
                    Find the most Exciting<br />
                    Stratup Jobs
                </h1>
                <input type="text" placeholder="Job Title or Keyword" />
                <button class="btn2 mt-5">Find Job</button>
            </div>
        </div>
    </div>
</section>

